<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost:3306/csc480</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.username">csc480</property>
		<property name="connection.password">csc480!</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hibernate.connection.pool_size">10</property>
        
		
		<!-- Create schema on startup 
		-->
		<!-- <property name="hbm2ddl.auto">create</property>  -->
		
		<!--
			thread is the short name for
			org.hibernate.context.ThreadLocalSessionContext and let Hibernate
			bind the session automatically to the thread
		
		-->
		<property name="current_session_context_class">thread</property> 
		
		<property name="hibernate.show_sql">true</property>		<!-- Show sql commands-->

		<mapping resource="org/csc480/bgclub/repository/hibernate/Employee.hbm.xml"/>
        <mapping resource="org/csc480/bgclub/repository/hibernate/TimeCardEntry.hbm.xml"/>
        <mapping resource="org/csc480/bgclub/repository/hibernate/Guardian.hbm.xml"/>
        <mapping resource="org/csc480/bgclub/repository/hibernate/GuardianRef.hbm.xml"/>
        <mapping resource="org/csc480/bgclub/repository/hibernate/Member.hbm.xml"/>
        <mapping resource="org/csc480/bgclub/repository/hibernate/Medication.hbm.xml"/>
        <mapping resource="org/csc480/bgclub/repository/hibernate/MedicalCondition.hbm.xml"/>
        <mapping resource="org/csc480/bgclub/repository/hibernate/EmergencyContact.hbm.xml"/>
        <mapping resource="org/csc480/bgclub/repository/hibernate/Site.hbm.xml"/>
        <mapping resource="org/csc480/bgclub/repository/hibernate/Activity.hbm.xml"/>
        <mapping resource="org/csc480/bgclub/repository/hibernate/ActivityLogEntry.hbm.xml"/>
        
	</session-factory>
</hibernate-configuration>